@page "/users/claim/{userid?}"
@model ASP_RazorWeb.Pages.Roles.Users.EditUserClaimModel
@{
    ViewData["Title"] = "Đặc tính người dùng";
}
<h1>@ViewData["Title"] - @Model.User.UserName</h1>
<partial name="_StatusMessage" model="@Model.StatusMessage"/>
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <form method="post" >
            <div class="form-group">
                <label asp-for="@Model.Input.ClaimType" class="form-label"></label>
                <input asp-for="@Model.Input.ClaimType" class="form-control">
                <span asp-validation-for="@Model.Input.ClaimType" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.Input.ClaimValue" class="form-label"></label>
                <input asp-for="@Model.Input.ClaimValue" class="form-control">
                <span asp-validation-for="@Model.Input.ClaimValue" class="text-danger"></span>
            </div>
            <div class="form-group mt-3" >
                @if(Model.userClaim == null) {
                    <button type="submit" class="btn btn-success">Tạo mới</button>
                }else {
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                    <button type="submit" asp-page-handler="Delete" asp-route-claimid="@Model.userClaim.Id" class="btn btn-danger">Xóa</button>
                }
                
                <a asp-page="./AddRole" class="btn btn-success" asp-route-userid="@Model.User.Id">Edit Role User</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}