@page "/users/set-password/{userid}"
@model ASP_RazorWeb.Pages.Roles.Users.SetPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
}
<h2>@ViewData["Title"] - @Model.User.UserName</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"/>
<div class="row mt-3">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." type="password"/>
                <label asp-for="@Model.Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="@Model.Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." type="password"/>
                <label asp-for="@Model.Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="@Model.Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn btn-md btn-primary">Đặt lại mật khẩu</button>
            <a asp-page="./Index" class="btn btn-md btn-primary">Danh sách user</a>
        </form>
    </div>
</div>